<head>
  <title>Fapteke</title>
  <meta charset="utf-8">
  <meta name="description" content="Fapteke">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, minimal-ui, maximum-scale=1, minimum-scale=1" />
</head>
<body>
  <div id="app"></div>
</body>
