@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin,cyrillic)

*
	padding: 0
	margin: 0
	outline: 0
	box-sizing: border-box
	position: relative

html, body, #app
	display: block
	width: 100%
	overflow: hidden
	height: 100%

body
	font-family: 'Roboto', sans-serif

a, a:hover, a:visited
	text-decoration: none
	color: black
	font-size: 1em
